.grid {
  display: grid;
  /* definicion del tamano de las columnas
  grid-template-columns: 33% 33% 33%;
  definicion del alto de las filas
  se puede definir para cada fila
  grid-template-rows: 200px 400px;
  definicion del espaciado de las columnas
  column-gap: 1em;
  definicion del espaciado de las filas
  row-gap 1em;*/
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch ;
}

.element1{
  grid-column: 1/4;
  grid-row: 1/3;
}

.element3{
    grid-column: 2/4;
}
.grid > div {
  background: #ecf0f1;
  padding: 1em;
}
.grid > div:hover {
  border: solid 1px #f1c40f;
}
